<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/index.css">
		<link rel="stylesheet" href="/stylesheets/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Google OAuth</h3>
			<h1>Sign up</h1>
			<a class="button google" href="http://localhost:3000/google">Sign up with Google</a>
			<hr>
			<p class="help">Already have an account? <a href="/login">Sign in</a></p>
		</section>
		<footer class="info">
			<p>Created by Shadab Hassan</p>
		</footer>
	</body>
</html>
